body {
    font-size: 15px;
    padding: 15px;
    background-color:rgb(197, 51, 51);  
     color:cornsilk;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
  
 .main{
    max-width:400px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-content { background-color: #db9898; }
   
  #image {
    background-image: url("main.jpg");
    background-position: center;
    background-size: cover;
    min-height:270px;
  }
  
  .text-white { color:slateblue;
  text-decoration: underline blanchedalmond; }
 
  .h2 { text-align: center; }

  .page-h1 {
    display: inline-block;
    vertical-align: baseline;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 2.1rem;
    font-weight: 400;
  }
   
  .h2 {
    color:darkslategrey;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  

  table {
    width: 100%;
    border-spacing: 0px;
  }
       
  td {
    text-align: center;
    padding: 10px 15px;
  }
 
  .left { text-align: left; }
   
  th {
    color: #ac5b5bd5;
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
  }
 
  tr:nth-child(odd) { background-color: #a1b5d8; }
 
  tr.tr-header {
    background-color: #83b6ec;
    height: 50px;
  }
   
  .section {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
  
  .small {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
  }
 
  p {
    font-size: 1rem;
    line-height: 1.2;
  }
 
  .a { margin-bottom: 0; }
  img { max-width: 100%; }
  figure { margin: 0; }
  figcaption { text-align: center; }

  figcaption span {
    display: block;
    color: #a32424;
    font-size: 18px;
  }
   
  .item-name {
    margin-top: 20px;
    margin-bottom: 10px;
  }
    
  .items {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .item {
    padding-left: 15px;
    padding-right: 15px;
  }
     
  hr {
    width: 60%;
    border: 0.5px solid #ccc;
  }
 
  .contact {
    color: #d8d7d7;
    font-weight: 600;
    text-decoration: none;
  }
  
  a { transition: all 0.3s ease; }
  .contact:hover { color: #e62424; }
  
  .footer-text {
    font-size: 0.9rem;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
 
  .footer-link {
    color: #fff;
    text-decoration: none;
  }

  .footer-link:hover { color: #cc800fb4; }
